<!doctype html>
<html>
	<head><title>Register</title></head>
	<body>
		<form action = '{{url_for("create")}}' method = 'POST'>
			Welcome to<br>
			<img src = "../static/JPCafeLogo2.png" width="200" height="140"><br>
			<h2>Create Account</h2>
			Name: <input type = "text" name = 'signname'><br><br>
			Email: <input type = "text" name = 'signemail'><br><br>
			Password: <input type = "text" name = 'signpass'><br>
			<input type = 'submit' value = 'Submit'>
		</form>
	</body>
</html>